.tutorial-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
  position: relative;

  .back-icon {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #ECECEC;
    display: grid;
    place-items: center;
    font-size: 24px;
    margin-right: auto;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 9;
  }

  .slides-wrapper {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    swiper-container {
      width: 100%;
      height: 100%;
      padding-bottom: 15px;

      .slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 60px;
        padding-inline: 20px;

        .slide-img {
          max-width: 70%;
          margin: 20px 0;
        }

        h1 {
          font-size: 24px;
          font-weight: bold;
          margin: 10px 0;
          font-family: 'poppins';

          .highlight {
            color: #2b7bff;
          }
        }

        h2 {
          font-size: 20px;
          margin: 5px 0;
          font-weight: 600;
          font-family: 'poppins';
        }

        p {
          font-size: 16px;
          color: #000;
          margin: 10px 0;
          font-family: "Poppins";
          line-height: 1.4;
        }
      }

      &::part(pagination) {
        bottom: -3px;
      }

      &::part(bullet) {
        width: 30px;
        height: 4px;
        border-radius: 5px;
        background: #969da3;
      }

      &::part(bullet-active) {
        width: 30px;
        height: 4px;
        border-radius: 5px;
        background: var(--theme-color);
      }
    }
  }

  .button-container {
    margin-block: 10px;
    flex: 1;

    ion-button {
      height: 48px;
      margin: 0;
      width: 80%;
      margin-inline: auto;
      text-transform: capitalize;
      font-size: 16px;
      font-family: 'Poppins';
      --background: var(--theme-color);
      --box-shadow: none;
    }
  }
}

.slider-loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  gap: 10px;
  text-transform: capitalize;
  position: absolute;
  top: 0;

  ion-spinner {
    font-size: 30px;
  }

  .cross-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background: #5974a2;
    color: #fff;
    padding: 4px;
    border-radius: 50%;
  }
}

.ad-container {
  height: 125px;
  margin-bottom: 35px;
  position: relative;
  width: 100%;

  .medium-nat-container {
    position: absolute;
    min-width: 300px;
    min-height:130px;
    width: 95%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 5px;
    height: 125px;
    border: 0;
    margin: 0 auto;
    overflow: hidden;
    z-index: 9;
    padding: 10px;

    .ad-info-icon {
      width: 20px;
      min-height: 20px;
      background: #ffffff;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;
      color: var(--btn-color);
      position: absolute;
      top: 0;
      right: 0;
    }

    .ad-text {
      font-size: 12px;
      padding: 2px;
      background: #4982d8;
      color: #fff;
      padding-top: 4px;
      display: inline;
    }

    .ad-content {
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;
      gap: 10px;

      .img {
        min-width: 150px;
        height: 100%;
        overflow: hidden;
        max-width: 60px;
        display: block;
        border-radius: 8px;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }



      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }

      .header {
        font-size: 16px;
      }

      .body {
        font-size: 14px;
      }
    }

    .text-main {
      flex: 1;
      overflow: hidden;

      ion-skeleton-text {
        height: 25%;
      }
    }

    .ad-btn {
      outline: none;
      border-radius: 6px !important;
      background: var(--btn-color);
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 1.2px;
      display: block;
      height: 40px;
      width: 100%;
      color: #fff;
      border: 0;
    }
  }
}

.full-native-ad {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
}

.ad-Loading {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  color: #0c0c0c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20004;

  .simple-spinner {
    margin-top: 40px;
    width: 150px;
    height: 150px;
    color: #0084ff;
    display: block;
  }

  .loading-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
}