<div class="welcome-screen">
  <!-- is-premium -->
  <div class="welcome-container" [ngClass]="isPremiumPlan ? 'is-premium' : ''" >
    <!-- App Logo -->
    <div class="logo">
      <video src="assets/images/water-logo.mp4" autoplay muted loop playsinline preload="auto" ></video>
    </div>

    <!-- Title -->
    <h2 class="title">{{"WELLCOME.HYDRATION_REMINDER" | translate}}</h2>
    <!-- Get Started Button -->
    <div class="continue-section">
      @if (!showWelcomebtn) {
        <p> {{"WELLCOME.THIS_ACTION_MAY_CONTAIN_ADS" | translate}}</p>
        <ion-progress-bar class="progress-bar-welcome" type="indeterminate"></ion-progress-bar>
      }
      @if (showWelcomebtn) {
        <ion-button expand="block" shape="round" class="get-started-btn" (click)="onContinue()">
          {{"WELLCOME.GET_STARTED" | translate}}
        </ion-button>
      }
    </div>
  </div>

  @if (!isPremiumPlan) {
  <div class="ad-container-main">
    <!-- skeleton -->
    @if (nativeAdSkeleton()) {
    <div class="ad-container skeleton-main ">
      <ion-skeleton-text [animated]="true" class="banner-img"></ion-skeleton-text>
      <div class="ad-content">
        <ion-skeleton-text [animated]="true" class="ad-icon"></ion-skeleton-text>
        <span class="skeleton-text-wrapper">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </span>
      </div>
      <ion-skeleton-text [animated]="true" style="height: 60px;"></ion-skeleton-text>
    </div>
    }

    <!-- Native ad show container  -->
    <div class="ad-container ad-div" id="WelcomeAdId"> </div>
  </div>
  }
</div>